
// Body
$body-bg: #03395D;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: #F9F845;
$primary2: #E4E328;
$primary3: #C1C006;
$primary4: #9E9D05;

$secondary: #03395D;
$secondary2: #0E4A6D;
$secondary3: #266786;
$secondary4: #408DA8;

$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
